# Ignore node_modules (it will be installed inside Docker)
node_modules

# Ignore local Next.js build output
.next

# Ignore log files
logs
*.log

# Ignore Git files
.git
.gitignore

# Ignore Dockerfile and .dockerignore (optional)
Dockerfile
.dockerignore
node_modules
npm-debug.log
.DS_Store
